@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?39718347');
  src: url('../font/fontello.eot?39718347#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?39718347') format('woff2'),
       url('../font/fontello.woff?39718347') format('woff'),
       url('../font/fontello.ttf?39718347') format('truetype'),
       url('../font/fontello.svg?39718347#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39718347#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-floppy:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-attach:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-eye-off:before { content: '\e80d'; } /* '' */
.icon-tag:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-upload:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-cog-alt:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-list-alt:before { content: '\e817'; } /* '' */
.icon-briefcase:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-plus-circled:before { content: '\e81a'; } /* '' */
.icon-ok:before { content: '\e81b'; } /* '' */
.icon-th-large:before { content: '\e81c'; } /* '' */
.icon-th:before { content: '\e81d'; } /* '' */
.icon-th-list:before { content: '\e81e'; } /* '' */
.icon-camera-alt:before { content: '\e81f'; } /* '' */
.icon-doc:before { content: '\e820'; } /* '' */
.icon-login:before { content: '\e821'; } /* '' */
.icon-logout:before { content: '\e822'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */