<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Faktura</title>
</head>
<body>
<p>Wystawiono dnia </p>
___________________
W każdym przypadku, faktura powinna zawierać:

datę wystawienia;
datę sprzedaży, czyli datę dokonania dostawy lub wykonania usługi, o ile data ta jest znana i różni się od daty wystawienia faktury;
unikalny numer;
nazwy, adresy i NIP podatnika (sprzedawcy) oraz nabywcy;
opis towaru lub usługi, wraz z miarą i ilością;
cenę jednostkową netto (kwoty rabatów można wykazać w osobnej pozycji);
wartość sprzedaży netto;
zastosowane stawki podatku;
sumę wartości sprzedaży netto, z podziałem na sprzedaż objętą poszczególnymi stawkami podatku i sprzedaż zwolnioną od podatku;
kwotę podatku od sumy wartości sprzedaży netto, z podziałem na kwoty dotyczące poszczególnych stawek podatku;
kwotę należności ogółem.
</body>
</html>