body {
    padding: 0px;
    margin: 0px;
}
#main-menu {
    background-color: #6666ff;
	color: white;
    padding: 5px;
    margin: 0px;
    width: 100%;
    min-height: 50px;
    height: 5vh;
}

#menu-label {
    min-width: 150px;
    width: 8%;
    display: inline-block;
    font-size: 20px;
}

#menu-label a {
    color: white;
}

#menu-label a:hover {
    text-decoration: none;
}

#panel{
    min-width: 150px;
    width: 8vh;
    height: 100vh;
    background-color: #444444;
    color: #eeeeee;
    margin: 0px;
    padding: 5px;
	float: left;
}

.panel-button {
    padding: 2px;
}

.panel-button:hover {
    background-color: #555577;
    color: #ffffff;
	cursor: pointer;
}

#container {
    padding: 7px;
	float: left;
}

.btn-color {
	color: white;
	border-color: white;
	background-color: #6666ff;/*#8080ff;*/
}

.btn-color:hover {
    background-color: white;
}

.selected {
    background-color: #ccccff;
}

table {

}
/*
th, td{
    border: 2px solid gray;
}*/