<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<aside id="panel" class="" th:fragment="aside">
	<center> Panel </center>
	<hr/>
	<a href="/employees"><div id="employeesButton" class=" panel-button"><i class="icon-users"></i> Pracownicy </div></a>
	<a href="/contractors"><div id="contractorsButton" class=" panel-button"><i class="icon-handshake-o"></i> Kontrahenci </div></a>
	<a href="/orders"><div id="ordersButton" class=" panel-button"><i class="icon-money"></i> Zamówienia </div></a>
	<a href="/products"><div id="productsButton" class=" panel-button"><i class="icon-cubes"></i> Produkty </div></a>
	<a href="/tasks"><div id="tasksButton" class=" panel-button"><i class="icon-tasks"></i> Zadania </div></a>
	<!--<a href="/r" id=""></a>-->
</aside>
</html>