<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header id="main-menu">
	<span id="menu-label"><a href="/" role="button"><b> <i class="icon-industry"></i>&nbsp;Hurtownia </b></a></span>
	<span class="btn-group">
        <a href="#" id="addButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-plus-squared"></i> Dodaj </a>
		<a href="#" id="editButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-pencil-squared"></i> Edytuj </a>
		<a href="#" id="deleteButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-minus-squared"></i> Usun </a>
    </span>
</header>
<aside th:replace="fragments/aside"></aside>
<main id="container" class="container">
	<h1>Dodaj Kontrahenta</h1>
	<form action="/saveContractor" method="POST" th:object="${contractor}">
		<div class="form-group">
			<label for="contNip"> Nip </label>
			<input type="text" id="contNip" class="form-control" th:field="${contractor.nip}"/>
		</div>
		<div class="form-group">
			<label for="contName"> Nazwa </label>
			<input type="text" id="contName" class="form-control" th:field="${contractor.name}"/>
		</div>
		<div class="form-group">
			<label for="contPhoneNumber"> Nr Tel. </label>
			<input type="text" id="contPhoneNumber" class="form-control" th:field="${contractor.phoneNumber}"/>
		</div>
		<div class="form-group">
			<label for="contCity"> Miasto </label>
			<input type="text" id="contCity" class="form-control" th:field="${contractor.city}"/>
		</div>
		<div class="form-group">
			<label for="contStreet"> Ulica </label>
			<input type="text" id="contStreet" class="form-control" th:field="${contractor.street}"/>
		</div>
		<div class="form-group">
			<label for="contHouseNum"> Numer Domu </label>
			<input type="text" id="contHouseNum" class="form-control" th:field="${contractor.houseNumber}"/>
		</div>
		<div class="form-group">
			<label for="contApartNum"> Numer Mieszkania </label>
			<input type="text" id="contApartNum" class="form-control" th:field="${contractor.apartmentNumber}"/>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" th:field="*{supplier}"/>
			<label th:for="${#ids.prev('supplier')}" class="form-check-label"> Dostawca </label>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary"/>
		</div>
	</form>
</main>
</body>
</html>
