<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hurtownia - Pracownicy</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/fontello/css/fontello.css" rel="stylesheet">
	<link href="/main.css" rel="stylesheet"/>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/app.js"></script>
</head>
<body>
<header id="main-menu">
	<span id="menu-label"><a href="/" role="button"><b> <i class="icon-industry"></i>&nbsp;Hurtownia </b></a></span>
	<span class="btn-group">
        <a href="#" id="addButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-plus-squared"></i> Dodaj </a>
		<a href="#" id="editButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-pencil-squared"></i> Edytuj </a>
		<a href="#" id="deleteButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-minus-squared"></i> Usun </a>
    </span>
</header>
<aside id="panel" class="">
	<center> Panel </center>
	<hr/>
	<a href="/employees"><div id="employeesButton" class=" panel-button"><i class="icon-users"></i> Pracownicy </div></a>
	<a href="/contractors"><div id="contractorsButton" class=" panel-button"><i class="icon-handshake-o"></i> Kontrahenci </div></a>
	<a href="/orders"><div id="ordersButton" class=" panel-button"><i class="icon-money"></i> Zamówienia </div></a>
	<a href="/products"><div id="productsButton" class=" panel-button"><i class="icon-cubes"></i> Produkty </div></a>
	<!--<a href="/r" id=""></a>-->
</aside>
<main id="container" class="container">
	<table id="employeeTable" class="table">
		<thead>
		<tr>
			<th> ID </th>
			<th> Imię </th>
			<th> Nazwisko </th>
			<th> Stanowisko </th>
			<th> Pensja </th>
			<th> Miasto </th>
			<th> Ulica </th>
			<th> Numer Domu </th>
			<th> Data Zatrudnienia </th>
		</tr>
		</thead>
		<tbody id="employees">
		<tr th:each="employee: ${employees}">
			<td th:text="${employee.id}">Id</td>
			<td th:text="${employee.name}">Name</td>
			<td th:text="${employee.surname}">Surname</td>
			<td th:text="${employee.position}">Position</td>
			<td th:text="${employee.salary}">Salary</td>
			<td th:text="${employee.city}">City</td>
			<td th:text="${employee.street}">Street</td>
			<td th:text="${employee.houseNumber}">House Number</td>
			<td th:text="${employee.apartmentNumber}">Apart. Numb.</td>
			<td th:text="${employee.employmentDate}">Employment Date</td>
		</tr>
		</tbody>
	</table>
</main>
</body>
</html>
