<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(siteTitle = 'Pracownicy')"></head>
<body>
<header id="main-menu">
	<span id="menu-label"><a href="/" role="button"><b> <i class="icon-industry"></i>&nbsp;Hurtownia </b></a></span>
	<span class="btn-group">
        <a href="/employees/add" id="addButton" class="btn btn-sm btn-outline-primary btn-color"> <i class="icon-plus-squared"></i> Dodaj </a>
		<a href="#" id="editButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-pencil-squared"></i> Edytuj </a>
		<a href="#" id="deleteButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-minus-squared"></i> Usun </a>
    </span>
</header>
<aside th:replace="fragments/aside"></aside>
<main id="container" class="main-content">
	<table id="employeeTable" class="table selectable-table">
		<thead>
		<tr>
			<th> ID </th>
			<th> Imię </th>
			<th> Nazwisko </th>
			<th> Stanowisko </th>
			<th> Pensja </th>
			<th> Miasto </th>
			<th> Ulica </th>
			<th> Nr Domu </th>
			<th> Nr Mieszkania </th>
			<th> Data Zatrudnienia </th>
		</tr>
		</thead>
		<tbody id="employees">
		<tr th:each="employee: ${employees}">
			<td th:text="${employee.id}">Id</td>
			<td th:text="${employee.name}">Name</td>
			<td th:text="${employee.surname}">Surname</td>
			<td th:text="${employee.position}">Position</td>
			<td th:text="${employee.salary}">Salary</td>
			<td th:text="${employee.city}">City</td>
			<td th:text="${employee.street}">Street</td>
			<td th:text="${employee.houseNumber}">House Number</td>
			<td th:text="${employee.apartmentNumber}">Apart. Numb.</td>
			<td th:text="${{#dates.format(employee.employmentDate, 'dd.MM.yyyy')}}">Employment Date</td>
		</tr>
		</tbody>
	</table>
</main>
</body>
</html>
