<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Warehouse</title>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/app.js"></script>
	<link href="/main.css" rel="stylesheet"/>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div id="main-menu">
	<span id="menu-label"> Hurtownia </span>
</div>
<div id="panel" style="float:left;" class="">
	Panel<br/>
	<div id="employeesButton" class=" panel-button">Pracownicy</div>
	<div id="contractorsButton" class=" panel-button">Kontrahenci</div>
	<div id="ordersButton" class=" panel-button">Zamówienia</div>
	<div id="productsButton" class=" panel-button">Produkty</div>
	<div id=""></div>
</div>
<div id="body" style="float:left;" class="container">
	<form action="" method="POST">
		<div class="form-group">
			<label for="name"> Imię </label>
			<input type="text" id="name" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="surname"> Nazwisko </label>
			<input type="text" id="surname" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="position"> Stanowisko </label>
			<input type="text" id="position" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="salary"> Pensja </label>
			<input type="text" id="salary" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="city"> Miasto </label>
			<input type="text" id="city" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="street"> Ulica </label>
			<input type="text" id="street" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="houseNum"> Numer Domu </label>
			<input type="text" id="houseNum" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="apartNum"> Numer Mieszkania </label>
			<input type="text" id="apartNum" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="emplDate"> Data Zatrudnienia </label>
			<input type="text" id="emplDate" class="form-control"/>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Utwórz"/>
		</div>
	</form>


</div>
</body>
</html>