<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Warehouse</title>
    <link href="/main.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>

</head>
<body>
    <div id="main-menu">Menu <span>Dodaj</span><span>Edytuj</span><span>Usun</span></div>
    <div id="panel" style="float:left;">
        Panel<br/>
        <div id="employees-button" class="panel-button">Pracownicy</div>
        <div id="contractors-button" class="panel-button">Kontrahenci</div>
        <div id="orders-button" class="panel-button">Zamówienia</div>
        <div id="products-button" class="panel-button">Produkty</div>
        <div id=""></div>
    </div>
    <div id="body" style="float:left;">

        <table id="employeeTable" class="table">
            <thead>
            <tr>
                <th> Imię </th>
                <th> Nazwisko </th>
            </tr>
            </thead>
            <tbody id="employees">
            </tbody>
        </table>
    </div>
</body>
</html>