<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(siteTitle = 'Zamówienia')"></head>
<body>
<header id="main-menu">
	<span id="menu-label"><a href="/" role="button"><b> <i class="icon-industry"></i>&nbsp;Hurtownia </b></a></span>
	<span class="btn-group">
        <a href="/orders/add" id="addButton" class="btn btn-sm btn-outline-primary btn-color"> <i class="icon-plus-squared"></i> Dodaj </a>
		<a href="#" id="editButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-pencil-squared"></i> Edytuj </a>
		<a href="#" id="deleteButton" class="btn btn-sm btn-outline-primary btn-color disabled" aria-disabled="true"> <i class="icon-minus-squared"></i> Usun </a>
    </span>
</header>
<aside th:replace="fragments/aside"></aside>
<main id="container" class="container">
	<table id="orderTable" class="table selectable-table">
		<thead>
		<tr>
			<th> ID </th>
			<th> Data </th>
			<th> Kontrahent </th>
		</tr>
		</thead>
		<tbody id="orders">
		<tr th:each="order: ${orders}">
			<td th:text="${order.id}">Id</td>
			<td th:text="${{#dates.format(order.date, 'dd.MM.yyyy')}}">Date</td>
			<td th:text="${order.contractor != null} ? ${order.contractor.name + ', NIP:' + order.contractor.nip} : ${'-'}">Contractor</td>
		</tr>
		</tbody>
	</table>
</main>
</body>
</html>
